/* Resetting default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #F4EFBD; 
}

/* Navigation bar styles */
nav {
    background-color: #F4EFBD; 
    color: #D18585; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000; 
}

/* Logo styles */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px; /* Set your desired width */
    height: auto;
    margin-right: 0px;
}

.logo h1 {
    font-size: 24px; /* Set your desired font size */
    color: #D18585;
    margin-right: 50px;
}

.container {
    min-height: 100%;
    position: relative;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    text-align: center;
}


.image-container {
    margin-top: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 0px solid #333; /* Dark border for the image */
}

.map-image,
.data-image {
    width: 500%; /* Adjust if necessary for your layout */
    max-width: 400px; /* Adjust if necessary for your layout */
    margin: 10px;
    border: 0px solid #000; /* Simple border, adjust as needed */
}

.data-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-content {
    margin: 20px;
    padding: 20px;
    text-align: right;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center; /* Add this line to center horizontally */
    flex-direction: column; /* Add this line to stack items vertically */
}

.map-image, .data-image {
    width: 100%; /* Make images responsive to their containers */
    height: auto;
    margin-bottom: 20px; /* Add space between images */
}

.active {
    background-color: #f0f0f0; /* Highlight the active page tab */
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}

#uvFilter {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



